

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Engagement&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: black;
    color: white;
}

a{
    color: white;

}

header{
    display: flex;
    flex-direction: column;
    width:300px;
    height: 200px;
    gap: 20px;
}
h1{
    font-family: "Engagement", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60PX;
  
}